---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
const title = "Löytöjä"
---

<DefaultLayout title={title}>
    <div class="container">
        <div class="space-content my-12">
            <h1>{title}</h1>
            <p>En enää keräile verkkoviitteitä tänne, se tapahtuu
                <a href="/rutinat">blogissa</a> ja sosiaalisen median kanavissa
                (ks. <a href="/mina">yhteystiedot</a>).
            </p>
        </div>
    </div>
</DefaultLayout>
