// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$primary-hue: 335;//276;
$secondary-hue: 109;//173;
$colors: (
  primary: (
    100: hsl($primary-hue, 100%, 80%),
    200: hsl($primary-hue, 79%, 70%),
    300: hsl($primary-hue, 53%, 55%),
    400: hsl($primary-hue, 64%, 40%),
    500: hsl($primary-hue, 96%, 25%),
  ),
  secondary: (
    100: hsl($secondary-hue, 51%, 78%),
    200: hsl($secondary-hue, 50%, 73%),
    300: hsl($secondary-hue, 42%, 67%),
    400: hsl($secondary-hue, 45%, 57%),
    500: hsl($secondary-hue, 60%, 40%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
