---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import { getCollection } from 'astro:content'
import postUrl from '../lib/postUrl'
import getExcerpt from '../lib/getExcerpt'

const posts = (await getCollection('rutinat'))
posts.sort((a, b) => b.data.published_at - a.data.published_at) // newest first
const latestPost = posts[0]

---

<DefaultLayout title="Pääsivu">
  <section class="my-12">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:book-open-page-variant" title={"Blogi: "+latestPost.data.title}>
          <em style="color: var(--font-color-muted)">{latestPost.data.published_at.toLocaleString('fi', {month:'numeric',day:'numeric',year:'numeric'})}</em>&nbsp;
          {getExcerpt(latestPost)}&hellip; <a href={postUrl(latestPost)}>Lue lisää</a>
        </Feature>
        <Feature icon="mdi:cloud" title="Nordcloud">
          Teen päivätyöni pilvipalveluihin erikoistuneen IT-konsulttiyritys <a href="https://nordcloud.com/">Nordcloudin</a> ratkaisuarkkitehtina.
        </Feature>
        <Feature icon="mdi:linkedin" title="LinkedIn">
          Ammatillinen ansioluetteloni löytyy <a href="https://www.linkedin.com/in/terotilus/">LinkedIn-profiilista</a>.
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>
