---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="Home">
  <section class="my-12">
    <div class="container">
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:book-open-page-variant" title="Blogi">
          TODO: viimeisin blogipostaus
        </Feature>
        <Feature icon="mdi:cloud" title="Työ">
          Nordcloud work life
        </Feature>
        <Feature icon="mdi:linkedin" title="LinkedIn">
          Ammatillinen CV
        </Feature>
      </div>
    </div>
  </section>
</DefaultLayout>
