---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &#127279; {currentYear} - Tero Tilus
      </p>
    </div>
  </section>
</footer>

<style lang="scss" is:global>
  footer {
    color: var(--font-color-muted);
  }
</style>